section.individual.js-team-game.wrapper
  h1.t-h1 Командные игры

  for item in games
    if item.players
      article.game.m-team(style={background: item.color})
        img.game__dino(src='assets/img/games/two-dino.png')
        .game__picture
          img.game__image(src=item.img, alt=item.title)
        .game__info
          h2.game__title=item.title
          p.game__desc=item.desc
          button.button.t-white(style={color: item.color}, id=item.link, type='button') Играть

